<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="*">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Recursive:wght,CASL,MONO@300..700,0.1,0.5&display=swap">
  <link rel="stylesheet" href="./styles/index.css">
  {{#if css}}
    <style>{{css}}</style>
  {{/if}}
  <title>Resume | xuerzong</title>
  <meta name="description" content="{{base.name}}的简历">
</head>

<body>
  <main id="resume">
    <section class="base container" aria-label="base-info">
      <h1 class="base-name">
        {{base.name}}
      </h1>

      <ul class="base-social">
        {{#if base.phone}}
        <li title="{{base.phone}}">
          <span class="base-social-item">
            <span class="social-icon">
              {{> phoneIcon}}
            </span>
            <span>{{base.phone}}</span>
          </span>
        </li>
        {{/if}}

        {{#if base.email}}
        <li title="{{base.email}}">
          <span class="base-social-item">
            <span class="social-icon">
              {{> mailIcon}}
            </span>
            <a href="mailto:{{base.email}}">{{base.email}}</a>
          </span>
        </li>
        {{/if}}

        {{#if base.website}}
        <li title="{{base.website}}">
          <span class="base-social-item">
            <span class="social-icon">
              {{> websiteIcon}}
            </span>
            <a href="{{base.website}}" target="_blank">{{base.website}}</a>
          </span>
        </li>
        {{/if}}
      </ul>
    </section>

    {{#if education-experience}}
      <section class="container">
        <h2 class="title">教育经历</h2>
        <ul class="wrapper education">
          {{#each education-experience}}
            <li title="{{name}}" class="education__wrapper">
              <div>
                <strong class="education__name">{{name}}</strong>
                <span class="education__caption">
                  <span>{{major}}</span>
                  <span>{{other}}</span>
                </span>
              </div>
              <div>
                <time>
                  {{formatTime end-time}}
                </time>
                -
                <time>
                  {{formatTime start-time}}
                </time>
              </div>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}

    <section class="container">
      <h2 class="title">工作经历</h2>

      <ul class="wrapper work">
        {{#each work-experience}}
          <li class="work__wrapper">
            <h3 class="work__title">{{company-name}}</h3>

            <div>
              <time>
                {{formatTime start-time}}
              </time>
              -
              <time>
                {{formatTime end-time}}
              </time>
            </div>

            <div class="work__subtitle">
              <span>{{position}}</span>                  
              <span>{{club}}</span>
            </div>
  
            {{#if content}}
              <p class="work__summary">
                {{summary}}
              </p>
            {{/if}}
            {{#if highlights}}
              <ul class="work__highlights">
                {{#each highlights}}
                  <li title="{{.}}" > {{.}} </li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </section>
  </main>

  {{#if pdf}}
  <a target="_blank" href="{{pdf.url}}" class="pdf">
    <span class="pdf-icon">{{> pdfIcon}}</span>
    {{pdf.label}}
  </a>
  {{/if}}
</body>

</html>