<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="*">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap">
  <style>{{css}}</style>
  <title>Resume | xuerzong</title>
  <meta name="description" content="{{base.name}}的简历">
</head>

<body>
  <main id="resume">
    <section class="base container">
      <h1 class="name">
        {{base.name}}
      </h1>

      <ul class="social">
        {{#if base.phone}}
        <li title="{{base.phone}}" class="social-wrapper">
          <span class="social-icon icon">
            {{> phoneIcon}}
          </span>
          <span>{{base.phone}}</span>
        </li>
        {{/if}}

        {{#if base.email}}
        <li title="{{base.email}}" class="social-wrapper">
          <span class="social-icon icon">
            {{> mailIcon}}
          </span>
          <a href="mailto:{{base.email}}">{{base.email}}</a>
        </li>
        {{/if}}

        {{#if base.github}}
        <li title="{{base.github}}" class="social-wrapper">
          <span class="social-icon icon">
            {{> githubIcon}}
          </span>
          <a href="https://github.com/{{base.github}}" target="_blank" rel="noreferrer noopener">{{base.github}}</a>
        </li>
        {{/if}}

        {{#if base.website}}
        <li title="https://{{base.website}}" class="social-wrapper">
          <span class="social-icon icon">
            {{> websiteIcon}}
          </span>
          <a href="https://{{base.website}}" target="_blank" rel="noreferrer noopener">{{base.website}}</a>
        </li>
        {{/if}}
      </ul>
    </section>

    <section class="container">
      <h2 class="section-title">自我介绍</h2>

      <p class="summary">{{introduction.summary}}</p>

      <ul>
        {{#each introduction.highlights}}
          <li class="wrapper">{{.}}</li>
        {{/each}}
      </ul>
    </section>

    <section class="container">
      <h2 class="section-title">教育经历</h2>

      <ul>
        {{#each education-experience}}
          <li class="wrapper">
            <div class="wrapper-with-time">
              <h3 class="title">
                {{name}}
              </h3>

              <div>
                <time>
                  {{formatTime start-time}}
                </time>
                -
                <time>
                  {{formatTime end-time}}
                </time>
              </div>
            </div>

            <span class="caption">
              <span>{{major}}</span>
              <span>{{other}}</span>
            </span>
          </li>
        {{/each}}
      </ul>
    </section>    

    <section class="container">
      <h2 class="section-title">工作经历</h2>

      <ul>
        {{#each work-experience}}
          <li class="wrapper">
            <div class="wrapper-with-time">
              <h3 class="title">
                {{company-name}}
              </h3>
              <div>
                <time>
                  {{formatTime start-time}}
                </time>
                -
                <time>
                  {{formatTime end-time}}
                </time>
              </div>
            </div>

            <div class="caption">
              <span>{{position}}</span>
              <span>{{club}}</span>
            </div>

            {{#if summary}}
              <p class="summary">
                {{summary}}
              </p>
            {{/if}}
            {{#if projects}}
              <ul class="highlights">
                {{#each projects}}
                  <li class="highlights__wrapper">
                    {{#if link}}
                      <a
                        href="{{link}}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="link"
                      >
                        <strong>{{name}}</strong>
                      </a>
                    {{else}}
                      {{name}}
                    {{/if}}
                    <ul class="mt2">
                      {{#if highlights}}
                        {{#each highlights}}
                          <li class="wrapper">{{.}}</li>
                        {{/each}}
                      {{/if}}
                    </ul>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </section>

    <section class="container">
      <h2 class="section-title">项目经历</h2>
      <ul>
        {{#each project-experiences}}
          <li class="wrapper">
            <h3 class="title">
              {{#if link}}
                <a
                  href="{{link}}"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="link"
                >
                  {{name}}
                </a>
              {{else}}
                {{name}}
              {{/if}}
            </h3>

            <div class="caption">
              {{description}}
            </div>

            {{#if stack}}
              <div class="stack">
                {{stack}}
              </div>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </section>

    <section class="container">
      <h2 class="section-title">专业技能</h2>

      <ul>
        {{#each professional-skills}}
          <li class="wrapper">
            {{.}}
          </li>
        {{/each}}
      </ul>
    </section>

    <footer class="footer">
      <span class="updated-at">
        更新于
        <time datetime="{{formatDate updated-at}}">
        {{formatDate updated-at}}
        </time>
      </span>
      <div>
        <span class="version-choice__pdf-version">
          查看
          <a class="version-choice__url" href="/resume.pdf">
          PDF版本
          </a>
        </span>

        <span class="version-choice__web-version">
          查看
          <a class="version-choice__url" href="https://resume.xuerzong.com">
          WEB版本
          </a>
        </span>
      </div>
    </footer>
  </main>
</body>
</html>
